POSTGRES_PASSWORD=changeme
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM_ADDRESS=noreply@sunya.local
EMAIL_FROM_NAME=SunyaSuite
JWT_SECRET=changeme
ADMIN_EMAIL=admin@sunya.local
ADMIN_PASSWORD=changeme
